body {
  background-color: rgb(40, 40, 40);
}

header {
  color: rgb(210, 210, 240);
  font-family: 'Indie Flower', cursive;
  margin: 50px;
  position: relative;
  text-align: center;
}

h1 {
  font-size: 90px;
  margin-bottom: -20px;
}

p {
  font-size: 23px;
  padding-right: 30px;
}

.field {
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
  height: 650px;
  margin: 50px auto;
  position: relative;
  width: 720px;
  z-index: 1;
}

.block {
  border: 6px dashed rgb(210, 210, 210);
  border-radius: 10px;
  position: absolute;
  z-index: 2;
}
